<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello seller {{ User }}
	<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://th.bing.com/th/id/OIP.12iaF3jI5hTR-FYnJEGkmgHaHa?w=187&h=187&c=7&o=5&dpr=1.25&pid=1.7" alt="" width="30" height="24" class="d-inline-block align-top">
        E-MART
      </a>
    </div>
  </nav>

  <div  class="mt-2 container">
    <nav class="navbar navbar-expand-lg navbar-light mb-3 bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NAVBAR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/purchase">Purchase</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/seller">Seller</a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="\logout">logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
	  
	 <div class="bg-light">
	 <h1> Want to make a seller ID?.</h1>
	 <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Adder SELLER 
      </button>
	  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seller Info:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
	  <form action="/seller" method="POST">
      <div class="modal-body">
        
		  <div class="form-floating mb-3">
              <input type="text" name="fname" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">First Name</label>
          </div>
          <div class="form-floating mb-3">
              <input type="text" name="lname" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Last Name</label>
          </div>
		  <div class="form-floating mb-3">
              <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
              <input type="text" name="ph_no" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Phone Number</label>
          </div>
		  <div class="form-floating mb-3">
              <input type="text" name="adhaar_no" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Adhaar Number</label>
          </div>
		  
		  <div class="form-floating mb-3">
              <input type="text" name="pan_no" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">PAN number</label>
          </div>
		  
		  <div class="form-floating mb-3">
              <input type="text" name="address" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Address</label>
          </div>
          
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </div>
	  </form>
    </div>
  </div>
</div>
<!-- Modal end-->

</div>
<script>


</script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
 
</body>
</html>